.item a {
    color: red;
    text-decoration: none;
    text-align: center;
}

.item {
    line-height: 30px;
    padding-left: 30px;
}

.active {
    font-style: italic;
    font-size: 20px;
    color: #000;
}