.app-wrap {
    display: grid;
    grid-template-areas: "header header" "navigation content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    /*grid-gap: 10px;*/
}